:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FAFAF8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 40px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 70px;
}

.brand-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.brand-container .logo {
	width: 40px;
	height: 40px;
}

.brand-container .brand {
	font-size: 2rem;
	font-weight: 400;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px; 
  width: 40px;
  height: 40px;
}


form.ingredients-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.ingredients-input > input {
  width: 399px;
  height: 38px;
  padding: 9px 13px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 12px;
}

.ingredients-input > button,
.ingredients-clear {
  width: 183px;
  height: 38px;
  background-color: #141413;
  color: white;
  padding: 9px 17px;
  border-radius: 6px;
  cursor: pointer;
}

.ingredients-clear {
  margin-left: 60px;
}

.ingredients-input > button::before {
  content: "+";
  margin-right: 7px;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredients-container > h2 {
  font-size: 2rem;
  margin: 0;
}

.ingredients-container > .ingredients-list {
  margin-bottom: 48px;
}

.ingredients-list > li {
  color: #475467;
  font-size: 1.2rem;
  line-height: 28px;
}

.ingredients-table {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures the columns don't resize unpredictably */
  overflow: hidden;
  margin: 5%;
}

.ingredients-table th,
.ingredients-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* Optional: for better visibility */
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds '...' if content is too long */
}

.small-column {
  width: 25%;
}

.wide-column {
  width: 65%;
}


.get-recipe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F0EFEB;
  margin: 30px;
  padding: 8px 41px;
  border-radius: 8px;
}

.get-recipe-container h2 {
  font-size: 1.4rem;
  line-height: 24px;
}

.get-recipe-container p {
  font-size: .9rem;
  color: #6B7280;
  line-height: 20px;
}

.get-recipe-container > .get-recipe-btn {
  width: 115px;
  height: 38px;
  border-radius: 6px;
  background-color: #D17557;
  font-size: .875rem;
  font-weight: 500;
  padding: 9px 17px;
  border: none;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  cursor: pointer;
}

.get-recipe-container select {
  width: 200px;
  height: 38px;
  padding: 9px 13px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 12px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

section.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 60px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(10px);
}

.loading-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.dots {
  animation: pulse 1.5s infinite;
}

/* Animation for pulsing effect */
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  form.ingredients-input {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }
  .ingredients-input > input {
    width: 299px;
  }
  .get-recipe-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .get-recipe-container select {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}