
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400; */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.brand-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.brand-container .logo {
	width: 200px;
	height: 80px;
}

.brand-container .brand {
	font-size: 2rem;
	font-weight: 400;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px; 
}


form.ingredients-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.ingredients-input > input {
  width: 399px;
  height: 38px;
  padding: 9px 13px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 12px;
}

.ingredients-input > button,
.ingredients-clear {
  /* width: 160px; */
  height: 38px;
  background-color: #611BBD;
  color: white;
  padding: 9px 17px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background-color: #49247A;
  }
}

.ingredients-clear {
  margin-left: 60px;
}

.ingredients-input > button::before {
  content: "+";
  margin-right: 7px;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredients-container > h2 {
  font-size: 2rem;
  margin: 0;
}

.ingredients-container > .ingredients-list {
  margin-bottom: 48px;
}

.ingredients-list > li {
  color: #475467;
  font-size: 1.2rem;
  line-height: 28px;
}

.ingredients-table {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures the columns don't resize unpredictably */
  overflow: hidden;
  margin: 5%;
}

.ingredients-table th,
.ingredients-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* Optional: for better visibility */
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds '...' if content is too long */
}

.small-column {
  width: 25%;
}

.wide-column {
  width: 65%;
}


.get-recipe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F0EFEB;
  margin: 30px;
  padding: 18px;
  border-radius: 8px;
  gap: 10;
}

.get-recipe-container h2 {
  font-size: 1.4rem;
  line-height: 24px;
}

.get-recipe-container p {
  font-size: .9rem;
  color: #6B7280;
  line-height: 20px;
}

.get-recipe-container > .get-recipe-btn {
  height: 38px;
  border-radius: 6px;
  background-color: #49247A;
  font-size: .875rem;
  font-weight: 500;
  padding: 9px 17px;
  border: none;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  cursor: pointer;

  &:hover {
    background-color: #611BBD;
  }
}

.get-recipe-container select {
  width: 220px; 
  height: 38px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #49247A;
  background-color: #611BBD;
  color: white; 
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  appearance: none;
  text-align: left;
  margin-right: 20px;
}

.get-recipe-container select {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
                    linear-gradient(135deg, white 50%, transparent 50%);
  background-position: calc(100% - 15px) center, calc(100% - 10px) center;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.get-recipe-container select:hover {
  background-color: #611BBD; 
}

.get-recipe-container select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(97, 27, 189, 0.8);
}


section.suggested-recipe-container {
  /* color: #64748B; */
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 60px 60px;
  padding-bottom: 40px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(10px);
}

.loading-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.dots {
  animation: pulse 1.5s infinite;
}

/* Animation for pulsing effect */
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  form.ingredients-input {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }
  .ingredients-input > input {
    width: 299px;
  }
  .get-recipe-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .get-recipe-container select {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.not-found-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
}

.not-found-container>img {
  width: 200px;
}

.not-found-container>p {
  font-size: 14px;
}

.home-button {
  background-color: #611BBD;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.home-button:hover {
  background-color: #7D3FF2;
  color: white;
}
